<div class="container2">

    <app-header></app-header>

    <div class="left">
        
        <app-left-menu></app-left-menu>

    </div>

    <div class="middle">

        <h1 class="topic_header">Leaderboard, check the best players results</h1>

        <h3 class="leaderboardHeader">Choose diff. level you would like to list:</h3> 

        <mat-tab-group class="lvl_chooser_tab" (selectedTabChange)="tabChanged($event)">
          <mat-tab label="lvl EASY">
          </mat-tab>
          <mat-tab label="lvl MEDIUM" (click)="listMedium()">
          </mat-tab>
          <mat-tab label="lvl HARD" (click)="listHard()">
          </mat-tab>
        </mat-tab-group>

        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Score</th>
                <th>Time</th>
            </tr>
            <tr *ngFor="let user of topListUsers; index as i">
                <td [ngStyle]="{'font-weight':'bold'}">{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.score}}</td>
                <td>{{user.time}}</td>
            </tr>
        </table>

    </div>

</div>