.containerRegister{
	position: relative;
	left: 25%;
	border-bottom: 30px;
}

h3{
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	font-family: 'Indie Flower', cursive;
	font-weight: 300;
	letter-spacing: 1px;
}

div.input label {
	position: absolute;
	transform: translateY(-50%);
	padding: 5px 2px;
	width: auto;
	background: white;
}

div.input input {
	width: 70%;
	padding: 10px 20px;
	font-size: 18px;
}

div.input {
	width: 70%;
	margin-top: 20px;
}

.button{
	text-align:center;
	height: 15px;
}

button:hover{
	font-weight: bold;
}

.inputField{
	border: 2px solid rgba(185, 185, 185, 0.726);
    border-radius: 15px 30px;
    font-size: 20px;
}
