.containerLogIn, .containerRegister{
	position: relative;
	left: 25%;
	border-bottom: 30px;
}

div.input label {
	position: absolute;
	transform: translateY(-50%);
	padding: 5px 2px;
	width: auto;
	background: white;
}

div.input input {
	width: 70%;
	padding: 10px 20px;
	font-size: 18px;
}

div.input {
	width: 70%;
	margin-top: 20px;
}

.button{
	text-align:center;
	height: 15px;
	width: 100px;
}

button:hover{
	font-weight: bold;
}