<form class="containerRegister" (submit)="registerUser($event)">
  <h3>Please fill in this form for <span class="mainScreen_keyword">registration</span>.</h3>
  <div class="input">
    <input class="inputField" type="email" placeholder="Enter email" required>
  </div>
  <div class="input">
    <input class="inputField" type="text" placeholder="Enter username" required>
  </div>
  <div class="input">
    <input class="inputField" type="password" placeholder="Enter password" required>
  </div>
  <div class="input">
    <input class="inputField" type="password" placeholder="Enter password again" required>
  </div>
  <div style="margin-top: 20px">
    <button class="inputField" class="diffchoser" style="width: 48%" id="register_btn">Register</button>
  </div>
</form>
