<h3>Please fill in this form to <span class="mainScreen_keyword">log in</span> to your account.</h3>
<form class="containerLogIn" (submit)="loginUser($event)">
  <div class="input">
    <input class="inputField" type="text" placeholder="Enter username" required>
  </div>
  <div class="input">
    <input class="inputField" type="password" placeholder="Enter password" required>
  </div>
  <div [ngStyle]="{'margin-top':'20px'}">
    <button class="diffchoser" id="login_btn" [ngStyle]="{'width':'24%'}">Login</button>
    <button class="diffchoser" [ngStyle]="{'width':'24%'}" (click)="login()">Login with Google</button>
  </div>
</form>
