<div class="container2">

    <app-header></app-header>

    <div class="left">
        
        <app-left-menu></app-left-menu>

    </div>

    <div class="middle">

        <h1 class="topic_header">About us</h1>

        <h2 class="aboutTitle">Developers:</h2>
        <blockquote class="blockquote" [ngStyle]="{'padding-bottom': '30px'}">
            <p class="mb-0" [ngStyle]="{'font-size': '20px'}">Read the 3 developer's introductions below </p>
            <footer class="blockquote-footer"> company impovemnts apportuinty , share my effort to achieve the company sucess</footer>
            <footer class="blockquote-footer"> achieve a new job, which can put into practice all my skills and my best performance in favor of the organization that hire me, in a win-win relationship</footer>
            <footer class="blockquote-footer"> respect | safe and good environment | clear rules and vision</footer>
        </blockquote>

        <h4>You can check the developers with clicking the appropriate button below!</h4>
        <p>
            <button class="basic_btn" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fa fa-user" aria-hidden="true"></i> IOS Developer</button>
            <button class="basic_btn" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fa fa-user" aria-hidden="true"></i> Backend Developer</button>
            <button class="basic_btn" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2"><i class="fa fa-user" aria-hidden="true"></i> Frontend Developer</button>
            <button class="basic_btn" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1, multiCollapseExample2, multiCollapseExample3">Toggle all elements</button>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card">
                        <div class="card-header">
                            IOS developer
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Víg Levente István</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted"><a href="https://github.com/Levivig" [ngStyle]="{'text-decoration': 'none'}"> > Visit Víg Levente's GitHub...</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample2">
                    <div class="card">
                        <div class="card-header">
                            Backend developer
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Gurmai István</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted"><a href="https://github.com/Fyccek" [ngStyle]="{'text-decoration': 'none'}"> > Visit Gurmai István's GitHub...</a></small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample3">
                        <div class="card">
                            <div class="card-header">
                                Frontend developer
                            </div>
                            <div class="card-body">
                            <h4 class="card-title">Berki Ádám</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            </div>
                            <div class="card-footer">
                            <small class="text-muted"><a href="https://github.com/james9711" [ngStyle]="{'text-decoration': 'none'}"> > Visit Berki Ádám's GitHub...</a></small>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        
        <h2 class="aboutTitle" [ngStyle]="{'margin-top': '40px'}">Sponsorship:</h2>
        <blockquote class="blockquote" [ngStyle]="{'padding-bottom': '30px'}">
            <p class="mb-0" [ngStyle]="{'font-size':'20px'}">We hope you'll enjoy it this YouTube chanel as you enjoy our mathematical tasks.</p>
            <footer class="blockquote-footer">Here you can find some concert | festival | gaming videos!</footer>
        </blockquote>
        <iframe width="430" height="230" src="https://www.youtube.com/embed/videoseries?list=PLonjrkjJyBBmznI7IRlHV7r9mLFFD1uK6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        

    </div>

</div>