<h1 class="topic_header">About us</h1>

<h2 id="davelopers_title" style="margin-bottom: 30px">Developers:</h2>
<blockquote class="blockquote" style="padding-bottom: 30px">
    <p class="mb-0">Read the 3 developer's introductions below </p>
    <footer class="blockquote-footer" style="padding-bottom: 5px"> company impovemnts apportuinty , share my effort to achieve the company sucess</footer>
    <footer class="blockquote-footer" style="padding-bottom: 5px"> achieve a new job, which can put into practice all my skills and my best performance in favor of the organization that hire me, in a win-win relationship</footer>
    <footer class="blockquote-footer"> respect | safe and good environment | clear rules and vision</footer>
</blockquote>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            IOS developer
        </div>
        <div class="card-body">
        <h5 class="card-title">Víg Levente István</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted"><a href="https://github.com/Levivig" style="text-decoration: none"> > Visit Víg Levente's GitHub...</a></small>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Backend developer
        </div>
        <div class="card-body">
        <h5 class="card-title">Gurmai István</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted"><a href="https://github.com/Fyccek" style="text-decoration: none"> > Visit Gurmai István's GitHub...</a></small>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Frontend developer
        </div>
        <div class="card-body">
        <h5 class="card-title">Berki Ádám</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted"><a href="https://github.com/james9711" style="text-decoration: none"> > Visit Berki Ádám's GitHub...</a></small>
        </div>
    </div>
</div>

<h2 id="davelopers_title" style="margin-top: 40px; margin-bottom: 30px">Sponsorship:</h2>
<blockquote class="blockquote" style="padding-bottom: 30px">
    <p class="mb-0">We hope you'll enjoy it this YouTube chanel as you enjoy our mathematical tasks.</p>
    <footer class="blockquote-footer">Here you can find some concert | festival | gaming videos!</footer>
</blockquote>
<iframe width="430" height="230" src="https://www.youtube.com/embed/videoseries?list=PLonjrkjJyBBmznI7IRlHV7r9mLFFD1uK6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
