<h1 class="topic_header">About us</h1>
<iframe width="430" height="230" src="https://www.youtube.com/embed/videoseries?list=PLonjrkjJyBBmznI7IRlHV7r9mLFFD1uK6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div id="team">
  <li id="davelopers_title">Developers:</li>
  <li class="developers"><a href="https://github.com/Levivig" style="text-decoration: none"> > Víg Levente István as
      IOS Developer</a></li>
  <li class="developers"><a href="https://github.com/Fyccek" style="text-decoration: none"> > Gurmai István as the
      Backend Developer</a></li>
  <li class="developers"><a href="https://github.com/james9711" style="text-decoration: none"> > Berki Ádám as the
      Frontend Developer</a></li>
</div>
