<div class="container2">

    <app-header></app-header>

    <div class="left">
        
        <app-left-menu></app-left-menu>

    </div>

    <div class="middle">

        <h1 class="topic_header">Lets play & have fun (be quick with your answers, our stopwatch never rests)</h1>

        <div id="diffChooser" *ngIf="visible_diffChooser">
            <p><button class="diffchoser" id="easy" (click)="selectEasyDiff()">Easy</button></p>
            <p><button class="diffchoser" id="medium" (click)="selectMediumDiff()">Medium</button></p>
            <p><button class="diffchoser" id="hard" (click)="selectHardDiff()">Hard</button></p>
        </div>

        <div *ngIf="visible_game">

          <div class="container">
            <h4>The progress of your made tasks:</h4> 
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" id="taskprogressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                {{value_taskprogressbar}}%</div>
            </div>
          </div>

          <div class="container">
            <h4>Time: <span id="stopwatch">{{timeLeft/100}}</span> s</h4> 
          </div>

          <div id="taskPart">
            <h3 id="actualTaskHeader">Your actual task is: </h3>
            <div [ngStyle]="{'font-size':'20px'}">
              <a> {{made_tasks}}. feladat:  </a>
            </div>
            <div id="taskArea">
              <a id="task">{{feladat}} </a>
              <input id="answerInput" placeholder="Answer here" #box (keyup.enter)="onEnter(box.value); box.value=''" (click)="clickOnInputField()">
              <a [ngStyle]="{'font-size':'20px'}"> (press <kbd>ENTER</kbd> for submit your answer)</a>
            </div>
            <div class="card" id="answerCard" *ngIf="answeredCardNeeded">
              <div class="card-header">
                  Here you can see if your previous answer was correct or not:
              </div>
              <div class="card-body" [style.color]="answer_correction ? 'rgba(77, 153, 33, 0.801)' : 'rgba(146, 39, 20, 0.801)'" [ngStyle]="{'height':'60px'}">
                  {{answer_string}}
              </div>
            </div> 
          </div>

        </div>

        <div *ngIf="visible_gameSummary" id="gameEnded">
            <div>
              <h2 [ngStyle]="{'padding-bottom':'30px'}">Game ended!</h2>
              <h4>Answered questions: <span [ngStyle]="{'font-weight':'bold'}">{{made_tasks}}</span></h4>
              <h4>Well answered questions: <span [ngStyle]="{'font-weight':'bold'}">{{correct_answers}}</span></h4>
              <h4>Your time was: <span [ngStyle]="{'font-weight':'bold'}">{{timeLeft/100}} seconds</span></h4>
              <h4 [ngStyle]="{'font-weight':'bold'}">Your score is: {{pontszam}}</h4>
            </div>
            <div [ngStyle]="{'padding-top':'20px'}">
              <button class="basic_btn" (click)="startNewGame()">Start new game</button>
              <button class="basic_btn" (click)="backToHome()">Back to HOME</button>
            </div>
        </div>

    </div>

</div>