<div class="container2">

  <app-header></app-header>

  <div class="left">
    <a routerLink="/test" routerLinkActive="active" title="Back to the mainscreen!" (click)="clickOnMainScreen()"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a routerLink="/login-form" routerLinkActive="active" title="Let's play" (click)="clickOnPlay()"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Let's play</a>
    <a routerLink="/" title="See ladeboards!" (click)="clickOnLadeboard()"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard </a>
    <a routerLink="/" title="Who we are?" (click)="clickOnAbout()"><i class="fa fa-question-circle" aria-hidden="true"></i> About</a>
  </div>

  <div class="middle">

    <router-outlet></router-outlet>

    <div *ngIf="visible_mainScreen">
      <app-test></app-test>
    </div>

    <div class="login-box" *ngIf="visible_LoginBox">
      <button title="Valt_jatekra" id="signIn-btn" (click)="clickOnSignIn()">Probavaltas Jatekra</button>
    </div>

    <div class="questions" *ngIf="visible_Questions">
    <div class="container">
        <p>The progress of your made tasks:</p> 
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" id="taskprogressbar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            {{value_taskprogressbar}}%</div>
        </div>
      </div>
      <div style="padding-top: 20px; padding-left: 90px;">
        <h2 style="padding-bottom: 10px;">Your actual task is: </h2>
        <div style="font-size: 15px;">
          <a style="font-size: 20px;"> 4 + 5 = </a><input type="text" placeholder="Answer here" value="" style="padding-left: 20px; width: 130px;" #answerInput>
          <button title="Submit my answer" id="answer-btn" (click)="clickOnSubmitAnswer()">Submit answer</button>
        </div>
        <div style="padding-top: 20px; font-style: italic;"> => Your answer: {{answerInput.value}} {{answer_string}}</div>
      </div>
    </div>

    <div class="ladeboard" *ngIf="visible_Ladeboard">
      <h1>Leaderboard</h1>

      <div class="container">
          <p>
            <span style="font-size: 20px; font-weight: bold;">Choose diff. level: </span>
            <button class="diffchoser" (click)="showEasyLadeboard()">Easy</button>
            or
            <button class="diffchoser" (click)="showMediumLadeboard()">Medium</button>
            or
            <button class="diffchoser" (click)="showHardLadeboard()">Hard</button>
          </p>
          <form>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="easy_radio" checked>Easy
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="medium_radio">Medium
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" id="hard_radio">Hard
            </label>
          </form>
          <p style="padding-top: 20px">The following players were the quickest in the choosen difficulity level:</p>            
          <table class="table">
            <thead>
              <tr>
                <th>Place</th>
                <th>Player</th>
                <th>Time (sec)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Levi</td>
                <td>50.2</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Pista</td>
                <td>51.4</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Berki</td>
                <td>56.5</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="about" *ngIf="visible_About">
        <h1>About us</h1>
        <iframe width="430" height="230" src="https://www.youtube.com/embed/videoseries?list=PLonjrkjJyBBmznI7IRlHV7r9mLFFD1uK6" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <div id="team">
          <li id="davelopers_title">Developers were:</li>
          <li class="developers"><a href="https://github.com/Levivig" style="text-decoration: none"> > Víg Levente István as
              IOS Developer</a></li>
          <li class="developers"><a href="https://github.com/Fyccek" style="text-decoration: none"> > Gurmai István as the
              Backend Developer</a></li>
          <li class="developers"><a href="https://github.com/james9711" style="text-decoration: none"> > Berki Ádám as the
              Frontend Developer</a></li>
        </div>
      </div>

  </div>

</div>

<a href="https://github.com/VGB-Co">
  <img id="logo_bottom" title="Lets visit our GitHub! Have fun!" src="https://i.imgur.com/g9JdFG2.jpg" width="100"
    height="100" alt="logo">
</a>