<div class="container2">

  <app-header></app-header>

  <div class="left">
    
    <a routerLink="/login-form" routerLinkActive="active" title="Let's log in or register!" (click)="clickOnSignIn()"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign in|out</a>
    <a routerLink="/test" routerLinkActive="active" title="Back to the mainscreen!" (click)="clickOnMainScreen()"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a routerLink="/game" routerLinkActive="active" title="Let's play" (click)="clickOnPlay()"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Let's play</a>
    <a routerLink="/ladeboard" routerLinkActive="active" title="See ladeboards!" (click)="clickOnLadeboard()"><i class="fa fa-trophy" aria-hidden="true"></i> Leaderboard </a>
    <a routerLink="/about" routerLinkActive="active" title="Who we are?" (click)="clickOnAbout()"><i class="fa fa-question-circle" aria-hidden="true"></i> About</a>
 
  </div>

  <div class="middle">

    <router-outlet></router-outlet>

  </div>

</div>