<h1 class="container">
    <div class="left-half">
        <h1>Welcome to {{ title }}</h1>
    </div>
    <div class="right-half">
        <img src="https://i.imgur.com/g9JdFG2.jpg" width="80" height="80" alt="logo">
    </div>
  </h1>

  <app-test></app-test>
  <h2>Solve mathematical tests and improve your math skills easily with us!</h2>
  <div id="team">
    <li id="davelopers_title">The developers:</li>
    <li class="developers"> Víg Levente István as IOS Developer</li>
    <li class="developers"> Gurmai István as the Backend Developer</li>
    <li class="developers"> Berki Ádám as the Frontend Developer</li>
  </div>

