<div class="container2">

    <app-header></app-header>

    <div class="left">
        
        <app-left-menu></app-left-menu>

    </div>

    <div class="middle">

        <h1 class="topic_header">Solve mathematical tests and improve your math skills easily with us!</h1>

        <blockquote class="blockquote">
            <p class="mb-0" [ngStyle]="{'font-size':'20px'}">DEAR <span [ngStyle]="{'font-style':'italic'}">{{user}}</span>, WELCOME TO OUR NEW WEBSITE!</p>
            <footer class="blockquote-footer" [ngStyle]="{'font-size':'16px'}">Your current URL is: <cite title="Source Title"> {{siteUrl.toUpperCase()}} </cite> !</footer>
        </blockquote>
        
        <blockquote class="blockquote">
            <p class="mb-0" [ngStyle]="{'font-size':'20px'}">We hope you'll enjoy it, and we're sorry in advance to those we might upset with our mathematical tasks.</p>
            <footer class="blockquote-footer" [ngStyle]="{'font-size':'16px'}">If you are not registered please register now, else log in to your existing account!</footer>
        </blockquote>

        <h4 [ngStyle]="{'margin-top':'40px'}">but wait....</h4>
        <h4>What the difficulity levels exactly mean? You can <span [ngStyle]="{'text-transform':'uppercase'}">check it below</span>, read before play with us for a better game!</h4>

        <div class="card-deck" [ngStyle]="{'margin-top':'20px'}">
            <div class="card">
                <h5 class="card-header">Easy</h5>   
                <div class="card-body">
                    <h5 class="card-title">What easy difficulity level mean?</h5>
                    <p class="card-text">Tasks like 5+6, 15/3 and so on</p>
                    <p class="card-text">Difficlity means how big are the generated numbers in the two sides of the operand</p>
                    <p class="card-text">Possible operands are: + | - | * | :</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Medium</h5>
                <div class="card-body">
                    <h5 class="card-title">What medium difficulity level mean?</h5>
                    <p class="card-text">Tasks like 58+90, 160/5 and so on</p>
                    <p class="card-text">Difficlity means how big are the generated numbers in the two sides of the operand</p>
                    <p class="card-text">Possible operands are: + | - | * | :</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Hard</h5>
                <div class="card-body">
                    <h5 class="card-title">What hard difficulity level mean?</h5>
                    <p class="card-text">Tasks like 166*85, 1555+8944 and so on</p>
                    <p class="card-text">Difficlity means how big are the generated numbers in the two sides of the operand</p>
                    <p class="card-text">Possible operands are: + | - | * | :</p>
                </div>
            </div>
            </div>

    </div>

</div>