<div class="container2">

    <app-header></app-header>

    <div class="left">
        
        <app-left-menu></app-left-menu>

    </div>

    <div class="middle">

        <h1 class="topic_header">Leaderboard</h1>

        <h3 style="font-size: 20px; font-weight: bold; margin-bottom: 30px">Choose diff. level you would like to list:</h3> 

        <mat-tab-group class="lvl_chooser_tab">
          <mat-tab label="lvl EASY">
            <ng-template matTabContent>
                <app-data-table></app-data-table>
            </ng-template>
          </mat-tab>
          <mat-tab label="lvl MEDIUM">
            <ng-template matTabContent>
                <app-data-table></app-data-table>
            </ng-template>
          </mat-tab>
          <mat-tab label="lvl HARD">
            <ng-template matTabContent>
                <app-data-table></app-data-table>
            </ng-template>
          </mat-tab>
        </mat-tab-group>  

    </div>

</div>