html {
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
  background-image: url("./pictures/bckground.png");
  --pb-width: 0%;
}

.container1 {
    display: table;
    width: 100%;
    display: inline-block;
    height: 9rem;
    border-bottom: 5px solid rgba(180, 124, 19, 0.89);
}

.left-half {
  top:20px;
  left:40px;
  text-align: left;
  position: absolute;
  color: whitesmoke;
  width: 50%;
  height: 85px;
}

.right-half {
  text-align: right;
  position: absolute;
  right: 20px;
  width: 50%;
  height: 85px;
}

#davelopers_title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.developers{
  font-size: 16px;
  font-style: italic;
}

.developers:hover{
  font-weight: bold;
}

.container2 {
  display: table;
  width: 100%;
  height: 800px;
}

.left {
  padding-top: 10rem;
  left: 0px;
  text-align: left;
  position: absolute;
  width: 12%;
  height: 800px;
  background: #222222;
}

.middle {
  padding-top: 13rem;
  line-height: 2;
  right: 0px;
  text-align: left;
  position: absolute;
  width: 85%;
  height: 800px;
}

.diffchoser{
  width: 100px;
}

.diffchoser:hover{
  font-size: 110%;
  font-weight: bold;
  transition: 0.5s;
}

.left button{
  font-size:15px;
  left: 0px;
  color: white;
  background-color: #222222;
  height: 100px;
  width: 100%;
  border: none; 
  font-style: italic;
}

.left button:hover{
  font-size: 18px;
  filter: brightness(150%);
  background-color:rgba(0,0,0,1);
}

#logo_bottom{
  width: 12%;
  height: 12%;
  padding-bottom: 20px;
}

img:hover{
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.login-box{
  width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box h1{
  font-size: 30px;
  color: #ad8956;
  border-bottom: 5px solid #ad8956;
  margin-bottom: 30px;
  padding: 10px;
}

.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #ad8956;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  width: 150px;
  font-size: 18px;
  float: left;
  margin: 10px;
  color: #424140;
}

.ladeboard h1, .about h1{
  padding-bottom: 50px;
  font-size: 40px;
  color: #ad8956;
}

#signIn-btn{
  width: 300px;
  text-align: center;
}

#signIn-btn:hover{
  font-size: 130%;
  font-weight: bold;
  transition: 0.5s;
}

#taskprogressbar{
  width: var(--pb-width);
}