html {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url("./pictures/bckground.png");
}

h1 {
    color: #ffd7c5;
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.container {
    display: table;
    width: 100%;
    display: inline-block;
    background-color: rgb(34, 34, 34);
    height:90px;
  }
  
  .left-half {
    left:20px;
    text-align: left;
    position: absolute;
    width: 50%;
    height: 85px;
    border-bottom: 5px solid rgba(180, 124, 19, 0.89);
  }
  
  .right-half {
    text-align: right;
    position: absolute;
    right: 20px;
    width: 50%;
    height: 85px;
    border-bottom: 5px solid rgba(180, 124, 19, 0.89);
  }

  #davelopers_title{
    font-size: 20px;
    font-weight: bold;
  }

  .developers{
    font-size: 16px;
    font-style: italic;
    position: relative;
    left: 20px;
  }

#team{
  position: absolute;
  left: 20px;
  bottom: 20px;
}